.spellContainer {
  /* padding-left: 1rem;
  padding-right: 1rem; */
  max-width: none;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      font-family: "Oldenburg", serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
    }

    dd:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }
}

.descriptionToggle {
  margin-bottom: 1rem;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  button {
    position: relative;

    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:before {
      margin-right: 0.75rem;
      padding: 0.75rem;

      position: absolute;
      top: 50%;
      left: calc(100% + 0.5rem);

      border: 1px solid black;
      content: "";
      transform: translate(0, -50%);
    }

    &:after {
      position: absolute;
      top: 50%;
      left: calc(100% + 0.8125rem);
      width: 1rem;
      height: 1rem;
      background-color: black;
      content: "";
      opacity: 0;
      transform: translate(0, -50%);
      transition: opacity 0.05s;
    }

    &[aria-checked="true"] {
      &:after {
        opacity: 1;
      }
    }
  }
}
