.spellContainer {
  max-width: none;

  ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    dt {
      font-family: "Oldenburg", serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
    }

    dd:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }

  button {
    &[aria-controls] {
      padding-left: 1rem;
      padding-right: 1rem;

      &:before {
        @media screen and (min-width: 37.5rem) {
          left: 1rem;
          width: calc(100% - 3.375rem);
        }
      }

      span {
        &:after {
          left: 1rem;
          right: 1rem;
          width: auto;

          @media screen and (min-width: 37.5rem) {
            left: 0.5rem;
            right: 0.5rem;
          }
        }
      }
    }
  }
}

.spellStatus {
  text-align: right;

  button {
    margin-bottom: 0.25rem;
    margin-right: 2.125rem;

    flex-basis: auto;
  }
}
