.collapsible {
  margin-bottom: 1rem;

  flex-basis: 100%;
}

.collapsibleToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  padding-left: 1rem;
  padding-right: 1rem;

  position: relative;
  width: 100%;

  border: none;
  background-color: transparent;
  color: var(--color);
  overflow: hidden;
  fill: none;
  stroke: var(--color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: calc(100% - 3.375rem);
    z-index: 0;

    border-top: 1px solid var(--border-color);
    content: "";

    @media screen and (min-width: 37.5rem) {
      left: 0.5rem;
      width: calc(100% - 2.375rem);
    }
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
    }

    ~ .collapsibleContent {
      display: flex;
      flex-wrap: wrap;
    }
  }

  span {
    padding-right: 0.625rem;

    z-index: 0;

    background-color: var(--background-color);
  }

  svg {
    margin-right: -0.5rem;

    background-color: var(--background-color);
  }
}

.collapsibleContent {
  display: none;
  margin-top: 0.5rem;
}
