.collapsible {
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.collapsibleToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  position: relative;
  width: 100%;

  border: none;
  background-color: transparent;
  overflow: hidden;
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;

  svg {
    background-color: white;
  }

  &:hover {
    cursor: pointer;
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
    }

    ~ .collapsibleContent {
      display: flex;
      flex-wrap: wrap;
    }
  }

  span {
    padding-right: 0.625rem;

    background-color: white;

    &:after {
      width: 100%;

      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;

      border-top: 1px solid #ccc9c9;
      content: "";
    }
  }
}

.collapsibleContent {
  display: none;
  margin-top: 0.5rem;
}
