.spell {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @media screen and (min-width: 50rem) {
    width: 50%;
  }

  @media screen and (min-width: 81rem) {
    width: 33.3%;
  }

  @media screen and (min-width: 108rem) {
    width: 25%;
  }

  @media screen and (min-width: 135rem) {
    width: 20%;
  }
}

.spellCastingTime,
.spellComponents {
  margin-left: 1rem;

  text-indent: -1rem;
}

.spellCard {
  /* margin-bottom: 1rem; */
  padding: 1rem;

  background-color: white;
  border: 1px solid gray;
  overflow: hidden;
}

/* .spell-entries {
  margin-top: 1rem;
  margin-bottom: -1rem;
  max-height: 0;
} */

.spellEntries {
  margin-top: 0.5rem;

  p {
    b {
      font-style: italic;
    }
  }

  dd:first-child {
    p:not(:first-child) {
      text-indent: 1rem;
    }
  }

  dd:not(:first-child) {
    p {
      text-indent: 1rem;
    }
  }
}

.spellEntriesTable {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  table {
    width: 100%;
  }

  caption {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
  }

  thead,
  tbody {
    font-size: 0.9rem;
  }

  th {
    vertical-align: bottom;
  }

  th,
  td {
    padding: 0.2rem;

    line-height: 1.4;
  }
}

.spellEntriesItem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  p {
    margin-left: 1rem;

    text-indent: -1rem !important;

    b {
      font-style: normal;
    }
  }
}

.blockQuoteContainer {
  margin-bottom: 0.5rem;

  blockquote {
    p {
      font-style: italic;

      &:before,
      &:after {
        content: "\0022";
      }
    }

    ~ p {
      text-align: right;
    }
  }
}
