.spell {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @media screen and (min-width: 50rem) {
    width: 50%;
  }

  @media screen and (min-width: 81rem) {
    width: 33.3%;
  }

  @media screen and (min-width: 108rem) {
    width: 25%;
  }

  @media screen and (min-width: 135rem) {
    width: 20%;
  }

  button {
    position: relative;

    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:before {
      margin-right: 0.75rem;
      padding: 0.75rem;

      position: absolute;
      top: 50%;
      left: calc(100% + 0.5rem);

      border: 1px solid #0d0907;
      content: "";
      transform: translate(0, -50%);
    }

    &:after {
      position: absolute;
      top: 50%;
      left: calc(100% + 0.8125rem);
      width: 1rem;
      height: 1rem;

      background-color: #0d0907;
      content: "";
      opacity: 0;
      transform: translate(0, -50%);
      transition: opacity 0.05s;
    }

    &[aria-checked="true"] {
      &:after {
        opacity: 1;
      }
    }
  }
}

.spellCastingTime,
.spellComponents {
  margin-left: 1rem;

  text-indent: -1rem;
}

.spellCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem;

  background-color: #fafafa;
  border: 1px solid #ccc9c9;
  overflow: hidden;

  > * {
    flex-basis: 100%;
  }

  > button {
    margin-bottom: 0.25rem;
    margin-right: 2.125rem;

    flex-basis: auto;
  }
}

.spellPrepared {
  border-color: #0b6623;
}

.spellEntries {
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  p {
    b {
      font-style: italic;
    }
  }

  dd:first-child {
    p:not(:first-child) {
      text-indent: 1rem;
    }
  }

  dd:not(:first-child) {
    p {
      text-indent: 1rem;
    }
  }

  summary {
    &:hover {
      cursor: pointer;
    }
  }
}

.spellEntriesTable {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  table {
    width: 100%;
  }

  caption {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
  }

  thead,
  tbody {
    font-size: 0.9rem;
  }

  th {
    vertical-align: bottom;
  }

  th,
  td {
    padding: 0.2rem;

    line-height: 1.4;
  }
}

.spellEntriesItem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  p {
    margin-left: 1rem;

    text-indent: -1rem !important;

    b {
      font-style: normal;
    }
  }
}

.blockQuoteContainer {
  margin-bottom: 0.5rem;

  blockquote {
    p {
      font-style: italic;

      &:before,
      &:after {
        content: "\0022";
      }
    }

    ~ p {
      text-align: right;
    }
  }
}
