.header {
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    font-family: "Oldenburg", serif;
    font-style: normal;
    font-weight: 700;
  }
}

.spellSearch {
  margin-bottom: 1rem;
}

.spellSearchForm {
  display: flex;
  flex-wrap: wrap;

  label {
    margin-bottom: 0.5rem;
    flex-basis: 100%;
    font-family: "Oldenburg", serif;
    font-size: 1.1rem;
  }

  input {
    padding: 0.5rem;
  }

  button[type="submit"] {
    padding: 0.5rem;
    font-family: "Oldenburg", serif;

    &:hover {
      cursor: pointer;
    }
  }
}
