.header {
  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  h1 {
    margin: 0;

    font-family: "Oldenburg", serif;
    font-style: normal;
    font-weight: 700;
  }
}

.spellSearch {
  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.spellSearchForm {
  display: flex;
  flex-wrap: wrap;
}

.switchContainer,
.searchContainer,
.filterContainer,
.filterSelectContainer {
  flex-basis: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.switchContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;

  label {
    margin-bottom: 0.25rem;

    flex-basis: 100%;
  }

  input {
    padding: 0.25rem 0.5rem;

    background-color: #fafafa;
    border: 1px solid var(--color);
  }

  button[type="submit"] {
    margin-left: -1px;
    padding: 0.5rem;

    border: 1px solid var(--color);

    &:hover {
      cursor: pointer;
    }
  }
}

.checkboxContainer {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  label {
    display: flex;
    align-items: flex-start;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;

    position: relative;

    line-height: 1.625rem;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    width: 0;

    opacity: 0;

    &:checked {
      + label {
        &:after {
          opacity: 1;
        }
      }
    }

    + label {
      &:before {
        display: inline-block;
        margin-right: 0.75rem;
        padding: 0.75rem;

        border: 1px solid var(--color);
        content: "";
      }

      &:after {
        position: absolute;
        top: 0.625rem;
        left: 0.3125rem;
        width: 1rem;
        height: 1rem;

        background-color: var(--color);
        content: "";
        opacity: 0;
        transition: opacity 0.05s;
      }
    }
  }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  fieldset {
    flex-basis: 100%;
  }
}

.filterSelectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .stepper {
    display: flex;
    align-items: center;
  }

  button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--color);
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  label {
    margin-right: 0.5rem;
  }

  select {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;

    background-color: transparent;
    border: 1px solid var(--color);
    color: var(--color);
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: right;
}

.sortContainer {
  label {
    margin-right: 0.5rem;
  }

  select {
    padding: 0.25rem 0.5rem;

    background-color: transparent;
    border: 1px solid var(--color);
    color: var(--color);
  }
}
