@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  max-width: 100%;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  line-height: 1.5;
}

.no-results {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lead {
  font-size: 1.2rem;
}

.alert {
  color: #e7052f;
}

table {
  th,
  td {
    &.col-1 {
      width: 10%;
    }

    &.col-2 {
      width: 15%;
    }

    &.text-center {
      text-align: center;
    }
  }

  th {
    &:not(.text-center) {
      text-align: left;
    }
  }

  td {
    &.no-wrap {
      text-wrap: nowrap;
    }
  }
}
