@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root,
:root.light {
  --background-color: #fafafa;
  --color: #0d0907;
  --border-color: #e1e1dd;
  --alt-color: #ccc9c9;
  --alert-color: #e7052f;
  --accent-color: #0b6623;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --color: #fafafa;
    --border-color: #646262;
    --alt-color: #111111;
    --alert-color: #fd5f7d;
    --accent-color: #21a444;
  }
}

:root.dark {
  --background-color: #333333;
  --color: #fafafa;
  --border-color: #646262;
  --alt-color: #111111;
  --alert-color: #fd5f7d;
  --accent-color: #21a444;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  max-width: 100%;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--background-color);
  color: var(--color);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  line-height: 1.5;
}

.spell-counter {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: right;
}

.grid-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 50rem) {
    padding-right: 0;
  }
}

.grid {
  opacity: 0;
  transition: opacity 0.1s;

  &.loaded {
    opacity: 1;
  }
}

.no-results {
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 37.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.lead {
  font-size: 1.2rem;
}

.alert {
  color: var(--alert-color);
}

.hidden {
  width: 1px;
  height: 1px;

  position: absolute !important;
  top: 1em;
  left: 1em;
  overflow: hidden;

  clip: rect(1px, 1px, 1px, 1px);
  font-size: 80%;
}

table {
  th,
  td {
    &.col-1 {
      width: 10%;
    }

    &.col-2 {
      width: 15%;
    }

    &.text-center {
      text-align: center;
    }
  }

  th {
    &:not(.text-center) {
      text-align: left;
    }
  }

  td {
    &.no-wrap {
      text-wrap: nowrap;
    }
  }
}
